.navbar-item {
  display:block!important;
}
.navbar {
      padding: .5rem;
}
#logo {
  min-height: 100%;
  max-width: 200px;
}
@media (min-width:900px)  {
  .has-dropdown {
    display: flex!important;
  }
}
